@use "../../../styles/colors" as colors;
@use "../../../styles/breakpoints" as bp;
.navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 999;
  min-height: 80px;
  width: 100%;
  left: 0;
  background-color: colors.$primary-bg;
  padding: 0px 200px;
  @media (max-width: bp.$lg) {
    padding: 0px 30px;
  }
  p {
    font-size: 25px;
    font-weight: 700;
    color: colors.$black100;
    span {
      @extend p;
      color: colors.$logo;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    @media (max-width: bp.$sm) {
      display: none;
    }
    li {
      font-size: 18px;
      color: colors.$black-grey;

      &:hover {
        color: colors.$black200;
      }
    }
  }
  menu {
    margin-top: 5px;
    display: none;
    @media (max-width: bp.$sm) {
      display: flex;
    }
  }
  .menuSection {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
    padding-right: 100px;
    gap: 30px;
    width: 100%;
    position: fixed;
    top: 80px;
    z-index: 999;
    background-color: colors.$primary-bg;
    height: 100%;
    p {
      font-size: 18px;
      color: colors.$black-grey;
    }
    @media (max-width: bp.$sm) {
      display: flex;
    }
  }
}
