$black100: #162232;
$black200: #000000;
$black-grey: #00000080;
$primary-bg: white;
$border-grey: #eee;
$logo: #fe9902;
$white: #fff;
$typewriter: blue;
// For SideBar
$black_bg: #040B14FF;
$black_link_bg: #212431FF;