@import url("https://use.typekit.net/yxi1xih.css");

* {
  box-sizing: border-box;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0 0;
  margin: 0 0;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
