@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as colors;
.wrapper {
  display: flex;
  background-image: url(../../assets/bg.png);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-left: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: colors.$white;
    font-size: 48px;
  }
  h2 {
    color: white;
    font-size: 35px;
    span {
      color: colors.$typewriter;
    }
  }
}
