@use "../../styles/global" as global;
@use "../../styles/colors" as colors;
@use "../../styles/breakpoints" as bp;
.about {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 90vh;
  .sectionSubText {
    color: rgb(74, 73, 73);
    text-align: center;
  }
  .sectionHeadText {
    color: #000;
    font-size: 45px;
    text-align: center;
    span {
      color: #f0662bff;
    }
  }
  .aboutMeAndImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: bp.$lg) {
      flex-direction: column;
      align-items: center;
    }
  }
  .cardImg {
    img {
      border-radius: 13px;
      width: 280px;
      height: 400px;
      @media (max-width: bp.$lg) {
        margin: auto;
        width: 290px;
        height: 35 0px;
        margin-left: 20px;
      }
    }
    @media (max-width: bp.$md) {
      width: 100%;
      text-align: center;
      margin: auto;
      img {
        margin: auto;
      }
    }
  }
  .aboutMe {
    width: 60%;
    padding: 0 30px;
    @media (max-width: bp.$lg) {
      width: 100%;
      padding: 0 18px;
    }
    h2 {
      color: #000;
      margin-bottom: 4px;
    }
    h4 {
      color: #444;
      margin-bottom: 20px;
    }
    p {
      text-align: justify;
      color: #111;
      font-weight: 500;
      margin-bottom: 20px;
      font-size: 15px;
      span {
        color: #f0662bff;
        font-size: 18px;
      }
    }
    .resume {
      background-color: #2506adff;
      padding: 5px 19px;
      border-radius: 25px;
      border: none;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      box-shadow: 1px 1px 9px 4px rgba(85, 56, 218, 0.55);
      -webkit-box-shadow: 1px 1px 9px 4px rgba(98, 71, 214, 0.5);
      -moz-box-shadow: 1px 1px 9px 4px rgba(105, 85, 196, 0.55);
      margin-bottom: 20px;
      margin-top: 60px;
      position: relative;
      z-index: 2;

      &:hover {
        transition: all 0.5s;
        box-shadow: 1px 1px 9px 0px rgba(37, 6, 173, 0.75);
        -webkit-box-shadow: 1px 1px 9px 0px rgba(37, 6, 173, 0.75);
        -moz-box-shadow: 1px 1px 9px 0px rgba(37, 6, 173, 0.75);
        background-color: rgb(30, 6, 138);

        .downloadIcon {
          transition: all 0.5s;
          transform: translateX(5px);
        }
      }

      .downloadIcon {
        margin-left: 10px;

        &:hover {
          transition: all 0.3s;
          transform: translateX(5px);
        }
      }
    }
  }
}
