@use "../../styles/global" as global;
@use "../../styles/colors" as colors;
@use "../../styles/breakpoints" as bp;
.sectionSubText {
  @include global.sectionSubText;
  text-align: center;
}
.sectionHeadText {
  text-align: center;
  @include global.sectionHeadText;
}

.description {
  width: 100%;
  margin-top: 1rem;
  color: colors.$secondary;
  font-size: 1rem;
  // max-width: bp.$md;
  line-height: 30px;
}
