@use "../../../styles/global" as global;
@use "../../../styles/colors" as colors;
@use "../../../styles/breakpoints" as bp;

//Tab title
.tabTitle {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 5px;
  color: #fff;
  transition: all 1s;
  .skillTitle {
    color: #fff;
    font-size: 22px;
  }
}
.isActive {
  border-bottom: 2px solid white;
  background-color: #0b2944ff;
}
.isNotAcitve {
  border-bottom: none;
  background-color: transparent;
}
//Tabs
.tabTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  color: #000;
}
