@use "../../styles/colors"as colors;
@use "../../styles/global"as global;
@use "../../styles/breakpoints"as bp;

.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;  
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: aliceblue;
  color: #000;

  .navContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;

    .rightNavContainer {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .favIcon {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }

      .title {
        display: flex;
        color: #000;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 600;
        cursor: pointer;

        .description {
          display: block;

          @media (max-width: bp.$sm) {
            display: none;
          }
        }

        p {
          color: colors.$logo;
        }
      }
    }

    .largeMenuContainer {
      list-style: none;
      display: flex;
      gap: 2.5rem;

      @media (max-width: bp.$sm) {
        display: none;
      }

      .menuItems {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .mobileMenuContainer {
      display: none;
      width: 100%;
      flex: 1 1 0%;
      justify-content: end;
      align-items: center;

      @media (max-width: bp.$sm) {
        display: flex;
      }

      .menuIcon {


        width: 45px;
        height: 45px;
        object-fit: contain;
        color: #000000FF;
        border: none;
        background-color: transparent;

      }

      .mobileMenuItems {
        @include global.black_gradient;
        padding: 1.5rem;
        color: #fff;
        width: 50%;
        height: 70vh;
        position: absolute;
        top: 5rem;
        right: -10px;
        margin: 0.5rem 1rem 0.5rem 1rem;
        min-width: 10rem;
        z-index: 10;
        border-radius: 0.75rem;

        .container {
          list-style: none;
          display: flex;
          justify-content: start;
          align-items: start;
          flex: 1 1 0%;
          flex-direction: column;
          gap: 1rem;

          .containerItem {
            font-weight: 500;
            font-size: 1.2rem;
            cursor: pointer;

          }
        }
      }

      .mobileMenuItems:hover {
        color: colors.$white;
      }

      .activeMenu {
        margin: 7px 0;

        color: #F07427FF;
      }

      .deactiveMenu {
        margin: 7px 0;
        color: #fff;
      }
    }

    @media (max-width: bp.$xss) {}


  }
}

.paddingX {
  @include global.paddingX;
}

//conditional classes
.activeMobileMenu {
  @include global.flex;
}

.deactiveMobileMenu {
  @include global.hidden;
  color: #fff;
}

.scrolled {
  background-color: #fff;
  padding: 9px 70px;
  transition: all .3s;
  box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);

  @media (max-width: bp.$lg) {
    padding: 9px 20px;
  }
}

.unscrolled {
  padding: 14px 70px;
  box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 7px 12px -12px rgba(0, 0, 0, 0.75);
  background-color: #fff;

  @media (max-width: bp.$lg) {
    padding: 14px 20px;
  }
}

.activeMenu {
  color: #F07427FF;

  a {
    font-weight: 600;
    border-bottom: 2px solid #F07427FF;
  }
}

.deactiveMenu {
  color: #000;
}