@use "../../styles/breakpoints" as bp;
@use "../../styles/colors" as colors;
@use "../../styles/global" as global;

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .sectionSubText {
    color: rgb(74, 73, 73);
    text-align: center;
  }
  .sectionHeadText {
    color: #000;
    font-size: 45px;
    text-align: center;
    span {
      color: #f0662bff;
    }
  }
}
.contactWrapper {
  .contactSend {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.42);
    // flex: 0.65 ;
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #fff;
    border-radius: 10px;
    .imgTitle {
      h1 {
        color: #2506ad;
      }
      h2 {
        color: #000;
      }
      p {
        display: flex;
        align-items: center;
        :nth-child(1) {
          color: #f0662bff;
          padding: 2px;
        }
        a {
          margin-left: 7px;
          color: #f0662bff;
        }
      }
    }
    @media (max-width: bp.$lg) {
      flex-direction: column;
      align-items: center;
    }
    form {
      .submitBtn {
        width: 100%;
      }
      .submitBtn button {
        display: flex;
        border: none;
        background-color: #2506ad;
        padding: 8px 15px;
        border-radius: 10px;
        font-size: 20px;
        align-items: center;
        &:hover {
          .sendIcon {
            transition: all 0.3s;
            transform: translateX(7px);
          }
        }
        .sendIcon {
          margin-left: 10px;
        }
      }
    }
    .btnInput {
      &:hover {
        .faUser {
          color: #2506ad;
        }
      }
      margin-bottom: 30px;

      button {
        margin-top: 10px;

        background-color: #fff;
        padding: 8px;
        border: 0;
        position: absolute;

        z-index: 999;
        background: transparent;

        .faUser {
          color: #000;
        }
      }

      input,
      textarea {
        font-family: monospace;
        font-size: 20px;
        width: 390px;
        outline: none;
        border: 1px solid #dadada;
        padding: 15px;
        border-radius: 5px;
        background-color: #f3f7fe;
        transition: 0.3s;
        color: indigo;
        padding-left: 40px;
        @media (max-width: bp.$mmd) {
          width: 100%;
        }
      }

      input,
      textarea {
        &:focus {
          border: 1px solid #2506ad;
          box-shadow: 0 0 0 4px #3b83f65f;
        }
      }
    }
  }
}
