@use "../../../../styles/colors" as colors;
@use "../../../../styles/breakpoints" as bp;
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  min-height: 80px;
  width: 100%;
  max-width: bp.$lg;
  margin-left: auto;
  margin-right: auto;
  background-color: colors.$primary-bg;
  @media (max-width: bp.$lg) {
    max-width: bp.$sm;
  }
  p {
    font-size: 25px;
    font-weight: 700;
    color: colors.$black100;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 10px;
    @media (max-width: bp.$sm) {
      display: none;
    }
    li {
      font-size: 18px;
      color: colors.$black-grey;
    }
    li:hover {
      color: colors.$black200;
    }
  }
  menu {
    display: none;
    margin-right: 50px;
    @media (max-width: bp.$sm) {
      display: flex;
    }
  }
}
