@use "../../styles/colors" as colors;
@use "../../styles/global" as global;
@use "../../styles/breakpoints" as bp;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heroSectionWrapper {
  padding-top: 50px;
  width: 100%;
  margin-top: 50px;
  height: auto;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .aboutResume{
    display: flex;
  }

  @media (max-width: bp.$lg) {
    height: auto;
    padding-top: 70px;
    padding-left: 15px;
    width: 100%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
  }

  .headerName {
     width: 100%;
    h1 {
      position: relative;
      z-index: 6;
      font-size: 40px;
      color: #002057ff;

      span {
        color: #f16724ff;
      }
    }
    .nameMe{
      @media (max-width: 390px){
        font-size: 22px;
      }
    }

    div {
      width: 100%;
      display: flex;
      color: #000;
      font-size: 25px;
      font-weight: 500;
      span{
        color: #f16724ff;
      }
      h3 {
      color: #000;
      }
      @media(max-width: 700px){
        justify-content: center;
      
      }
    }
    .aboutResume{
      @media(max-width: 700px){
        width: 100%;
        display: flex;
        justify-content:center;
      }
    }

    button {
      background-color: #EC5229;
      margin-right: 10px;
      padding: 5px 19px;
      border-radius: 25px;
      border: none;
      font-size: 20px;
      font-weight: 500;
      display: flex;
      align-items: center;
      -webkit-box-shadow: 1px 4px 27px 0px rgba(235, 107, 43, 0.2);
      -moz-box-shadow: 1px 4px 27px 0px rgba(235, 107, 43, 0.2);
      box-shadow: 1px 4px 27px 0px rgba(235, 107, 43, 0.2);
      margin-bottom: 20px;
      margin-top: 20px;
      position: relative;
      z-index: 2;
      @media (max-width: bp.$sm){
        font-size: 14px;
        padding: 4px 15px;
      }

      &:hover {
        transition: all 0.5s;
        background-color: #ae2905;

        .downloadIcon {
          transition: all 0.5s;
          transform: translateX(5px);
        }
      }

      .downloadIcon {
        margin-left: 10px;
        font-size: 10px;
        width: 25px;

        &:hover {
          transition: all 0.3s;
          transform: translateX(5px);
        }
      }
    }

    @media (max-width: bp.$lg) {
      margin: auto;

      h1 {
        font-size: 29px;
      }

      p {
        font-size: 17px;
      }

      button {
        margin-top: 15px;
      }
    }
    
    @media (max-width: 700px){
      margin: 0;
      text-align: center;
    }

    


  }

  .socialIcons {
    display: flex;
    margin-top: 30px;
    @media (max-width: 700px){
      display: flex;
      justify-content: center;  
    }


    a {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      @media (max-width: 700px){
        margin: 0 12px;
      }

      &:hover {
        box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.75);
        transform: scale(1.18);
        transition: all 0.3s;
        background-color: #00d9ffff;

        .socialIcon {
          color: #fff;
        }
      }

      .socialIcon {
        color: #00d9ffff;
        z-index: 2;
      }
    }
  }

  .headerImg {
    position: relative;
    z-index: 5;

    img {
      position: relative;
      transition: all 0.3s;
      width: 370px;
      height: 370px;
      border-radius: 50%;
      box-shadow: 1px 1px 8px 0px rgba(105, 97, 97, 0.75);
      -webkit-box-shadow: 1px 1px 8px 0px rgba(105, 97, 97, 0.75);
      -moz-box-shadow: 1px 1px 8px 0px rgba(105, 97, 97, 0.75);

      &:hover {
        box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.75);
      }
      @media (max-width: 700px){
        display: none;
      }
    }

    @media (max-width: bp.$lg) {
      margin: auto;
      padding-top: 50px;

      img {
        width: 280px;
        height: 280px;
      }
    }
  }
}
