@use "../../styles/colors"as colors;
@use "../../styles/global"as global;
@use "../../styles/breakpoints"as bp;

body {
    max-width: 100%;
}

.lgHeroTopContainer2 {
    // background: #4f2dbf;
    color: #fefefe;

    .container {
        padding: 200px;
        width: 320px;
        margin: 0 auto 0 auto;
        perspective: 1000px;

        .carousel {
            position: relative;
            max-width: 50%;
            height: 100%;
            transform-style: preserve-3d;
            animation: rotate360 12s infinite forwards linear;

            .image {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 50%;
                right: 50px;
                display: flex;


                &:nth-child(1) {
                    background-image: url("image_url");
                    transform: rotateY(0deg) translateZ(180px);
                }

                &:nth-child(2) {
                    background-image: url("image_url");
                    transform: rotateY(40deg) translateZ(180px);
                }

                &:nth-child(3) {
                    background-image: url("image_url");
                    transform: rotateY(80deg) translateZ(180px);
                }

                &:nth-child(4) {
                    background-image: url("image_url");
                    transform: rotateY(120deg) translateZ(180px);
                }

                &:nth-child(5) {
                    background-image: url("image_url");
                    transform: rotateY(160deg) translateZ(180px);
                }

                &:nth-child(6) {
                    background-image: url("image_url");
                    transform: rotateY(200deg) translateZ(180px);
                }

                &:nth-child(7) {
                    background-image: url("image_url");
                    transform: rotateY(240deg) translateZ(180px);
                }

                &:nth-child(8) {
                    background-image: url("image_url");
                    transform: rotateY(280deg) translateZ(180px);
                }

                &:nth-child(9) {
                    background-image: url("image_url");
                    transform: rotateY(320deg) translateZ(180px);
                }

                span {

                    margin: auto;

                    img {
                        width: 80px;
                    }
                }

                @keyframes rotate360 {
                    from {
                        transform: rotateY(0deg);
                    }

                    to {
                        transform: rotateY(-360deg);
                    }
                }

            }

        }
    }
}