$primary: #050816;
$secondary: #aaa6c3;
$tertiary: #151030;
$black-100: #100d25;
$black-200: #090325;
$white: #fff;
$white-100: #f3f3f3;
$white-200: #7f7f7f;
$transparent: transparent;
$bg_circle: #915eff;
$hero_name: #915eff;
$logo: #f06325;
$logo-100: #fd9619;
