@use "./styles/colors" as colors;
.wrapper {
  position: relative;
  background-color: colors.$primary;
  z-index: 0;
}
.navbarAndHeroSection {
  background-image: url("/src/assets/herobg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // z-index: 1;
  .contactSection {
    position: relative;
    z-index: 0;
  }
}
